@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --thewidth: 60vw;
    --theheight: calc(9 / 16 * var(--thewidth));
    --frame: 15;
}

body {
    overflow-x:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 255, 187);

    background-size: cover;
    background-repeat: no-repeat;
    /* background: rgb(255, 126, 255);
    animation: backgroundColor infinite linear 15s; */
}

/* @keyframes backgroundColor{
    0% {background-color: rgb(255, 126, 255)}

    25% {background-color: rgb(248, 147, 147)}

    50% {background-color: rgb(215, 167, 255)}

    75% {background-color:  rgb(96, 184, 255)}

    100% {background-color: rgb(255, 126, 255)}
} */


.container {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 40cm;
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--thewidth);
    height: var(--theheight);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    will-change: left, top, transform, background-image, scroll-position;
}

.layer1 {
    background-image: url("Images/New/Paint\ Layer\ 1.PNG");
    z-index: 14;
}

.layer2 {
    background-image: url("Images/New/Paint\ Layer\ 2.PNG");
    z-index: 12;
}
.layer3 {
    background-image: url("Images/New/Paint\ Layer\ 3.PNG");
    z-index: 10;
}
.layer4 {
    background-image: url("Images/New/Paint\ Layer\ 4.PNG");
    z-index: 8;
}
.layer5 {
    background-image: url("Images/New/Paint\ Layer\ 5.PNG");
    z-index: 6;
}

.moon {
    background-image: url("Images/New/Moon.PNG");
    z-index: 4;
}

.background {
    background-image: url("Images/New/Background.PNG");
    z-index: 2;
}






/* .original {
    z-index: 15;
    background-image: url("Images/Poster/tangled poster.jpg");
}

.image.off {
    opacity: 0;
} */


/* .front-grass {
    background-image: url("Images/New/grass.png");
    z-index: 7;
    height: calc(1.05*var(--theheight));
    width: calc(1.06*var(--thewidth));
    background-size: 100% 100%;

} */




.button {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
    font-weight: bold;
    font-family: Roboto;
    font-size: 3vh;
    color: white;
    filter: drop-shadow(9px 9px 1px rgba(0,0,0,1));
    text-decoration: none;
    border: 5px solid white;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    transition: scale 0.1s ease
}

.button:hover {
    scale: 1.1;
    color: rgb(244, 243, 243);
    border-color: rgb(244, 243, 243);
}

.toggleButton {
    left: auto;
    right: 50px;
}

.button.off {
    filter: none;
}


.disclaimer{
    font-family: "Roboto";
    position: absolute;
    color: white;
    bottom: 5px;
    left: 5px;
    font-weight: bold;
}
